body{
    margin:20px;
}
#map {
    width: 100%;
    height:100vh;/* Adjust the height based on your menu height */
    margin-top: 60px; /* Adjust top margin as needed */
    z-index: 0;
}

#panorama {
    display: none;
    width: 100%;
    height: 100vh;
    /* Add more styles for the panorama container if needed */
    margin-top: 60px;
    z-index: 0;
}

.custom-tooltip span {
    color: red;  /* Change this to your desired color */
}

#toggleButton {
    margin-top: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

#toggleButton:hover {
    background-color: #2980b9;
}
